

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

/* footer */

footer{
    font-family: 'Poppins',sans-serif;
}
.top-footer{
  background:url('/images/bg-boost-desktop.svg');
  background-color: hsl(257, 27%, 26%);
}
.last-footer{
  background: rgb(9, 1, 28);
}
.last-footer p{
  color:hsl(0, 0%, 75%);
  display:inline;
}
.last-footer p:hover{
cursor:pointer;
  color:hsl(180, 66%, 49%);
  transition:0.3s all; 
}
.logo{
  margin:0 7rem 0 1rem;
}

.social img{
  height:40px;
  width:40px;
  margin:0 9px;
  cursor:pointer;
}
.social img:hover{
  scale:1.5;
  transition:0.3s all;
}

@media only screen and (max-width: 1020px) {
  
  .last-footer .logo{
  margin:1rem 0;
  }
  .social {
    margin:1rem 0;
    
  }
  .social img{
    height:30px;
    width:30px;
  }
  .top-footer{
  background-color: hsl(257, 27%, 26%);
  }
}